.object-cover {
  object-fit: cover;
}

.welcome-box {
  background-color: #ffffff;
  border-left: 4px solid #ffc107 !important;
}

.carousel-item {
  transition: transform 0.6s ease-in-out;
}

.list-group-item {
  border-bottom: 1px solid #f1f1f1 !important;
}